RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]

RedirectMatch 403 ^/src/.*$
RedirectMatch 403 ^/config/.*$
RedirectMatch 403 ^/bin/.*$

<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

<DirectoryMatch "^/var/www/html/(src|config|bin)/">
    Order allow,deny
    Deny from all
</DirectoryMatch>