body {
  margin: 0;
}

main {
  /*
  `display: flex` is een handige CSS property om containers
  op de juiste plek te krijgen. 

  Als je hiermee wilt oefenen is https://flexboxfroggy.com/ erg handig.
  */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #EEEEEE;
}

/*
Gebruik de .-prefix om styling toe te passen op een HTML class.
*/
.register-form {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin: auto;
  align-items: center;
  background: #DDDDDD;
  /*
  Een 'em' is een relatieve eenheid.
  Het is vaak verstandig om deze eenheden te gebruiken, omdat dit zorgt
  voor schaalbare en responsive ontwerpen die zich aanpassen aan de
  lettergrootte van het element of zijn context.
  */
  padding: 2em;
}

/*
Hiermee stylen we alle input elementen.
*/
input {
  margin-bottom: 0.5em;
}

/*
Met de #-prefix selecteren we een element met een specifieke ID.
*/
#register-btn {
  width: 100%;
  padding: 0.5em;
  background-color: #C1E1C1;
  border: none;
}